<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="token" value="MjY1NjEwNzI0MDQ5NDIwMjg5.C0xp3Q.UTY-3nbEdZ8fGTu9p1pLn1BgkFY" />
  </appSettings>
</configuration>